#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar

makina-projects.projectname:
  data:
    default_language: fr
    site_owner: "root@{fqdn}"
    PROJECT: mailman_web
    fixperms_cron_periodicity: "0 */2 * * *"
    app_root: "{project_root}/venv/src/postorius/example_project"
    locale_cwd: "{app_root}"
    do_node: true
    do_bower: false
    do_gulp: false
    configs:
      {% for i in ['settings_local.py',] %}
      "{{i}}":
        source: "salt://makina-projects/{name}/files/config.py"
        target: "{app_root}/{{i}}"
        mode: 640
      {%endfor%}
    #npms: "less"
    global_npms: "less"
    htaccess: "/etc/{name}.webaccess"
    doc_root: "{static}"
    #orig_py: /usr/bin/python3
    py: "{py_root}/bin/python"
    py_root: "{project_root}/venv"
    pip_root: "{project_root}"
    media_source: "{project_root}/media"
    domain: "{fqdn}"
    requirements: "{project_root}/requirements/prod.txt"
    server_aliases: []
    js_dir: "{project_root}"
    force_ssl: true
    #disabled_urls []
    #ldap_url: "ldap://ldap.net/dc=m,dc=com?uid?sub?(objectClass=person)"
    #ldap_binddn: "uid=f,dc=e,dc=e"
    #ldap_binddn_passwd: "foo"
    postfix: true
    #admin_url: /admin
    #admin_allowed_ips :[]
    DJANGO_SETTINGS_MODULE: "settings"
    WSGI: "wsgi:application"
    nginx_loglevel: "crit"
    nginx_upstreams: salt://makina-projects/{name}/files/nginx.upstreams.conf
    nginx_vhost: salt://makina-projects/{name}/files/nginx.content.conf
    adminmail: "root@{domain}"
    #ftp_root: "{data_root}/ftp"
    #ftp_ip: "x.x.x.x"
    #ftp_domain: "doo"
    #ftp_port_range: "22300 22400"
    #ftp_users:
    #  - eib: {password: "{ftp_password}",
    #          home: "{ftp_root}",
    #          user: eib-user, shell: /bin/bash, mode: "0771"}
    #  - ftpuser: {'password': 'xxx', "home": "{data_root}/foo"}
    create_admins: true
    # salt-call  mc_macros.get_local_registry local_passwords registry_format=pack
    admins:
      {% for i in ['sysadmin'] %}
      - {{i}}:
          mail: "{{i}}+{name}@{fqdn}"
          password: {{salt['mc_utils.generate_stored_password'](
                             'corpus-django_web_admin'+i)}}
      {%endfor %}
    static: "{data_root}/static"
    media: "{data_root}/media"
    host: localhost
    port: 8002
    workers: 10
    worker_class: sync
    worker_timeout: 9000
    compile_messages: false
    collect_static: true
    do_reset_site: true
    do_syncdb: false
    do_migrate: true
    do_syncdb_only_first_time: false
    # http_users:
    #   - root: foo
    # extra django settings to add
    # to the file
    USE_SSL: True
    django_settings:
      DOMAIN: "{domain}"
      ADMINS: "placeholder (totally computed)"
      VAR_DIR: "{spool}"
      SITE_ID: 1
      USE_SSL: True
      DATABASES:
        default:
          # SQLITE
          # ENGINE: 'django.db.backends.sqlite3'
          # NAME: "{data_root}/{PROJECT}.sqlite"
          # GEODJANGO BACKEND !
          #    ENGINE: 'django.contrib.gis.db.backends.postgis'
          # Classical pg backend
          ENGINE: 'django.db.backends.postgresql_psycopg2'
          USER: '{name}'
          PORT: 5432
          HOST: '127.0.0.1'
          NAME: '{name}'
          PASSWORD: '{name}secret'
          #ENGINE: 'django.db.backends.mysql'
          #USER: '{name}'
          #PORT: 3306
          #HOST: '127.0.0.1'
          #NAME: 'db'
          #PASSWORD: '{name}secret'
          #OPTIONS:
          #  init_command: 'SET storage_engine=INNODB'
      DEFAULT_FROM_EMAIL: '{adminmail}'
      SERVER_EMAIL: 'root@{fqdn}'
      MEDIA_ROOT: '{media}'
      STATIC_ROOT: '{static}'
      LANGUAGE_CODE: fr-fr
      DATE_FORMAT: 'iso-8601'
      ALLOWED_HOSTS:
        - localhost
        - 127.0.0.1
        - "{domain}"
        - "{fqdn}"
        - "10.5.0.1"
      CORS_ORIGIN_ALLOW_ALL: True
      # Internationalization
      # https://docs.djangoproject.com/en/1.6/topics/i18n/
      TIME_ZONE: 'Europe/Paris'
      DEBUG: False
      TEMPLATE_DEBUG: False
      USE_X_FORWARDED_HOST: True
      #CACHES:
      #  default:
      #    BACKEND: 'django.core.cache.backends.memcached.MemcachedCache'
      #    LOCATION: '127.0.0.1:11211'
      USER_MODULE: django.contrib.auth.models
      USER_CLASS: User
      SECRET_KEY: "{{salt['mc_utils.generate_stored_password'](
                             'corpus-django_web_secret_key', 64)}}"
      MAILMAN_REST_API_USER: 'restadmin'
      MAILMAN_REST_API_PASS: '{{salt['mc_utils.generate_stored_password'](
                             'corpus-django_web_secret_keyAPI', 64)}}'
      MAILMAN_ARCHIVER_KEY: '{{salt['mc_utils.generate_stored_password'](
                             'corpus-django_web_secret_keyARCHIVER', 64)}}'
      LOGGING:
        version: 1
        disable_existing_loggers: False
        filters:
          require_debug_false:
            '()': django.utils.log.RequireDebugFalse
        handlers:
          mail_admins:
            level: 'ERROR'
            class: django.utils.log.AdminEmailHandler
          console:
            level: 'DEBUG'
            class: 'logging.StreamHandler'
          vconsole:
              level: 'INFO'
              class: 'logging.StreamHandler'
        loggers:
          '':
            handlers: ['console']
            level: 'DEBUG'
            propagate: False
          django.request:
             handlers: ['console', 'mail_admins']
             level: 'ERROR'
             propagate: True
          hyperkitty:
            handlers: ['console']
            level: 'INFO'
            propagate: True
          django:
             handlers: ['console', 'mail_admins']
             level: 'ERROR'
             propagate: True
      LANGUAGES:
       - "('fr', _('French'))"
       - "('en', _('English'))"
       - "('it', _('Italia'))"
      # disable social auth by default
      SOCIALACCOUNT_PROVIDERS: {}
    extra_settings: {}
      # ldap auth
      #AUTHENTICATION_BACKENDS: |
      #  (
      #      'django_auth_ldap.backend.LDAPBackend',
      #      'django.contrib.auth.backends.ModelBackend',
      #      'allauth.account.auth_backends.AuthenticationBackend',
      #  )
      #AUTH_LDAP_USER_DN_TEMPLATE: '"uid=%(user)s,ou=People,dc=a,dc=org"'
      #AUTH_LDAP_START_TLS: 'True'
      #AUTH_LDAP_SERVER_URI: '"ldap://ldap.a.net"'
      #AUTH_LDAP_USER_ATTR_MAP: '{"email": a"shortMail"}'
      #AUTH_LDAP_XXX_CONFIG_GROUP: |
      #    ''
      #    import ldap
      #    from django_auth_ldap.config import LDAPSearch, GroupOfNamesType
      #    AUTH_LDAP_GROUP_SEARCH = LDAPSearch("ou=group,dc=a,dc=org",
      #        ldap.SCOPE_SUBTREE, "(objectClass=groupOfNames)"
      #        )
      #    AUTH_LDAP_GROUP_TYPE = GroupOfNamesType()
      #    AUTH_LDAP_BIND_DN = "{ldap_binddn}"
      #    AUTH_LDAP_BIND_PASSWORD = "{ldap_binddn_passwd}"
      #    p_ldap_admins = ["cn=foo,ou=group,dc=a,dc=org",
      #                     "cn=bar,ou=group,dc=a,dc=org",
      #                     "cn=sys,ou=group,dc=a,dc=org"]
      #    AUTH_LDAP_USER_FLAGS_BY_GROUP = {
      #        "is_active": "cn=all,ou=group,dc=a,dc=org",
      #        "is_staff": p_ldap_admins[:],
      #        "is_superuser": p_ldap_admins[:],
      #    }
      #ADDITIONAL_TEMPLATE_DIRS:
      #  - '{project_root}/calanques'
      # add custom extra_settings which will be processed at end only
      #extra_django_settings:
      #  FOO: bar
      #  BAR: true
    # settings rendered as is (not via the macro
  env_defaults:
    dev:
      django_settings:
        DEBUG: True
# vim:set ft=sls:
